<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-uppercase">About This Project</h2>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row light">
        <div class="col-lg-12">
            <p>
                This website is based off the information found in the "We're His Problem Now" Calling Sheet, found here:
                <button class="btn btn-default">
                    <a href="https://docs.google.com/spreadsheets/u/0/d/174f0WBSVNSdcQ5_S6rWPGB3pNCsruyyM_ZRQ6QUhGmo/htmlview?usp=embed_facebook&sle=true#">Calling Sheet</a>
                </button>
            </p>
            <p>Use this website to find your representatives' information and quickly contact them in a variety of formats. It is recommended to prioritize making phone calls over other forms of communication, as Reps are more likely to receive these messages than email or mail.</p>

            <p>The Weekly Call to Action is a priority issue. Call party leadership as well as your Representative and Senators on this issue, early each week. Follow up with a second set of phone calls mid-week.</p>

            <p>Toward the end of the week, when you have made and followed up on the Weekly Call to Action, make calls RE: specific progressive issues that are important to you. Break up issues into two sets, and call about the first set on Thursdays and the second set on Fridays. Try to avoid calling about an issue that is directly-related to the Weekly Call to Action, since officials will likely receive lots of calls about this particular topic. If that issue is super important to you, just make extra follow-up calls using the Weekly Call to Action script.</p>

            <p>For more Tips & Strategies, visit the <button class="btn btn-default"><a href="#!/tips">Tips & Strategies</a></button> page.</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
