
    <div class="home-splash">

        <div class="call-to-act-container double-white-border lg-width" ng-hide="hideCallToAct">
            <div class="call-to-act-body text-center">
                <div class="input-field">
                    <h2>Current Action Item:</h2>
                    <h3>{{issues[0].title}}</h3>
                    <p>{{issues[0].description}}</p>
                    <h3>Speak Up</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>First, enter your name:</h4>
                            <input type="text" placeholder="first and last name" ng-model="userFullName"/>
                        </div>
                        <div class="col-md-6">
                            <h4>Enter your address to locate your congressmen:</h4>
                            <input places-auto-complete size=50
                                   component-restrictions="{country:'us'}"
                                   on-place-changed="placeChanged()" />
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>