<div class="home-container">
    <div class="jumbotron text-center home-splash">
        <h1 class="text-uppercase page-title hidden-xs">
            <svg width="100%">
                <text x="0" y="100px" font-size="120px" stroke="#fff" stroke-width="5.0" fill="transparent">
                    <tspan>Speak United</tspan>
                </text>
            </svg>
            <svg width="100%" class="page-subtitle">
                <text x="0" y="50px" font-size="30px" stroke="#fff" stroke-width="1.5" fill="transparent">
                    <tspan>Our Voice Will Be Heard</tspan>
                </text>
            </svg>
        </h1>
        <div class="container call-to-act-container double-white-border">
            <div class="call-to-act-body">
                <h2>Current Action Item:</h2>
                <h3>{{issues[0].title}}</h3>
                <div uib-collapse="collapseIssues">
                    <p>{{issues[0].description}}</p>
                    <p>{{issues[0].notes}}</p>
                </div>
                <div>
                    <a ng-click="collapseIssues = !collapseIssues">
                        <i class="fa fa-plus" aria-hidden="true" ng-class="collapseIssues ? 'fa-plus' : 'fa-minus'"></i>
                        Read
                        <span ng-if="collapseIssues">More</span>
                        <span ng-if="!collapseIssues">Less</span>
                    </a>
                </div>
                <a href="#!/call_to_action"><button class="btn btn-lg call-btn">Speak Up</button></a>
            </div>
        </div>
    </div>
</div>