<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><span class="text-uppercase">Issues</span> <br>
            <small>Select an issue to see call scripts.</small></h2>
        </div>
    </div>

    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="{{issue.title}}" ng-repeat="issue in issues">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12"
                         ng-class="{'alert-danger': item.contentType === 'anti',
                                    'alert-info': item.contentType !== 'anti',
                                    'leading-issue-section': $index == 0}"
                         ng-repeat="item in issue.content"
                         ng-if="item.content">
                        <h4 ng-if="item.contentType !== 'neutral' && item.content">
                            <strong>
                                Script for
                                    <span ng-if="item.contentType == 'pro'"> Progressive/History of Agreement on Issue </span>
                                    <span ng-if="item.contentType == 'anti'"> Conservative/History of Opposition </span>
                            </strong>
                        </h4>
                        <p> {{item.content}} </p>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>

</div>
