
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title text-center">Call {{rep.name}}</h3>
            </div>
            <div class="modal-body">
                <div ng-if=" type == 'phone' ">
                    <ul class="phone-group">
                        <li ng-if="rep.districtPhone">
                            District Office: <a ng-href="tel: +1-{{rep.districtPhone | formatPhone}}">{{rep.districtPhone}}</a>
                        </li>
                        <li ng-if="rep.dcPhone">
                            DC Office: <a ng-href="tel:+1-{{rep.dcPhone | formatPhone}}">{{rep.dcPhone}}</a>
                        </li>
                    </ul>
                </div>

                <p><strong>Script:</strong></p>
                <div>

                </div>
                <p>{{ (modifiedIssues[0].scripts | filter:{type: 'phone'}:true | limitTo:1)[0].text }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>