<nav class="navbar navbar-static-top sitenav" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-uppercase" href="#!/">Speak United</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/about">About This Project</a>
                </li>
                <li>
                    <a href="#!/call_to_action">Weekly Call to Action</a>
                </li>
                <li>
                    <a href="#!/issues">Issues</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Government Contact Info <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#!/reps">Representatives</a>
                        </li>
                        <li>
                            <a href="#!/senators">Senators</a>
                        </li>
                        <li>
                            <a href="#!/leadership">Party Leadership</a>
                        </li>
                        <li>
                            <a href="#!/committees">Committees</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!/tips">Tips &amp; Strategies</a>
                </li>

            </ul>
        </div>

    </div>

</nav>