<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><span class="text-uppercase">Senators</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="select-container">
                <label for="stateSelect">Find your Senator: </label>
                <select class="form-inline" id="stateSelect">
                    <option>-- Select State --</option>
                    <option>NY</option>
                    <option>AK</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead>
            <tr class="state-table-header">
                <th><h3 class="state-title">New York</h3></th>
                <th class="col-md-4">District Address</th>
                <th class="col-md-2">District Phone</th>
                <th class="col-md-4">DC Address</th>
                <th class="col-md-2">DC Phone</th>
                <th class="col-md-2">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="photo-cell">
                    <div class="rep-photo"></div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div class="rep-name emphasized-text">John Doe</div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-danger">Republican</div>
                        </div>
                        <div class="col-lg-12">
                            <small><a href="https://walters.house.gov/">https://walters.house.gov/</a></small>
                        </div>
                        <div class="col-lg-12">
                            <a href="#">
                                <i class="fa fa-twitter table-icon" aria-hidden="true"></i>
                                <span class="twitter-handle">RepMimiWalters</span>
                            </a>
                        </div>
                        <div class="col-lg-12">
                            <a href="#">
                                <i class="fa fa-facebook table-icon" aria-hidden="true"></i>
                                <span class="facebook-handle">RepMimiWalters</span>
                            </a>
                        </div>
                    </div>

                </td>
                <td>
                    <small>
                        3333 Michelson Drive, Suite 230 <br>
                        Irvine, CA 92612
                    </small>
                </td>
                <td><a href="#">(949) 263-8703</a></td>
                <td>
                    <small>
                        United States House of Representatives <br>
                        236 Cannon House Office Building <br>
                        Washington, DC 20515
                    </small>
                </td>
                <td><a href="#">(202) 225-5611</a></td>
                <td>name@name.com</td>
            </tr>

            <tr>
                <td class="photo-cell">
                    <div class="rep-photo"></div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div class="rep-name emphasized-text">John Doe</div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-info">Democrat</div>
                        </div>
                        <div class="col-lg-12">
                            <small><a href="https://walters.house.gov/">https://walters.house.gov/</a></small>
                        </div>
                        <div class="col-lg-12">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="twitter-handle">RepMimiWalters</span>
                        </div>
                        <div class="col-lg-12">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="facebook-handle">RepMimiWalters</span>
                        </div>
                    </div>

                </td>
                <td>
                    <small>
                        3333 Michelson Drive, Suite 230 <br>
                        Irvine, CA 92612
                    </small>
                </td>
                <td><a href="#">(949) 263-8703</a></td>
                <td>
                    <small>
                        United States House of Representatives <br>
                        236 Cannon House Office Building <br>
                        Washington, DC 20515
                    </small>
                </td>
                <td><a href="#">(202) 225-5611</a></td>
                <td>name@name.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>


