/* Global Styles */

html,
body {
    height: 100%;
    font-size: 18px;
}

body {
    font-family: "Alegreya Sans", sans-serif;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50px;
    left: 1%;
    width: 75%;
}

.page-subtitle {
    position: absolute;
    top: 50%;
    left: 1%;
    letter-spacing: 4px;
}

.light {
    font-weight: 300;
}

.emphasized-text {
    font-weight: bold;
    font-size: 110%;
}

.double-white-border {
    border: 10px double #fff;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
    background-color: #286090;
}

.dropdown-menu {
    background: #286090;
    color: white;
    border: 1px solid white;
}

.dropdown-menu>li>a {
    color: white;
    cursor: pointer;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(255,255,255,0.8);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.sitenav {
    background: #153661;
    margin-bottom: 0;
}

.sitenav, .sitenav a {
    color: #ffffff;
}

.home-splash {
    height:92vh;
    background-image: url('../assets/img/capitol_dome.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home-splash.jumbotron {
    margin-bottom:0;
}

.call-to-act-container {
    background: rgba(255,255,255,0.4);
    width: 70%;
    padding:  20px;
    color: #153661;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 480px;
    overflow: scroll;
}

.call-to-act-container.lg-width {
    width: 75%;
    height: 80vh;
    padding: 20px;
}

.call-to-act-container.lg-width .call-to-act-body {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.call-to-act-body {
    background: rgba(255,255,255,0.8);
    padding: 10px;
    /*width: 80%;*/
    margin: 0 auto;
}

.call-to-act-body h2 {
    margin-top:0;
}

.call-to-act-body input {
    width: 350px;
}

.rep-container {
    background: rgba(255,255,255,0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    padding: 0 25px 25px 25px;
}

.rep-card {
    background: rgba(255,255,255,0.8);
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    height: 380px;
}

.rep-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.rep-image img {
    width:100%;
}

.buttons {
    margin-top: 15px;
}

.highlight-buttons, .secondary-buttons {
    margin: 2%;
}

.highlight-buttons button {
    font-size: 1.1em;
    padding: 2% 6%;
    background: #a97da9;
    color: #fff;
    border-color: #000;
    margin: 0 3%;
}

.secondary-buttons button {
    font-size: .9em;
    padding: 1% 4%;
    background: #8581af;
    color: #fff;
    border-color: #000;
    margin-bottom: 5px;
    margin-left: 2%;
}

.secondary-buttons button a {
    text-decoration: none;
    color: inherit;
}

.call-btn{
    background: rgba(99,149,193,0.8);
    border: 1px solid white;
    color: white;
    font-weight: 200;
}

.main-panel-headers {
    background: #153661;
    color: white;
    padding:3px;
}

.main-panel-body {
    padding-top: 8px;
    font-size: 16px;
}

.panel-box {
    height: 300px;
    position: relative;
    border: 0;
    box-shadow: none;
}

.panel-box .panel-body {
    text-align: center;
}

/*.panel-body p {*/
    /*font-size: 120%;*/
    /*padding: 5px;*/
/*}*/

.tips-list {
    line-height: 220%;
    font-size: 115%;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/*senator/rep tables*/

.state-table-header {
    background: #286090;
    color: #fff;
}

.state-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.photo-cell {
    width: 60px;
}

.rep-photo {
    margin: 0 auto;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 40px;
    background: url('../assets/img/blank_icon.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.table-icon {
    margin: 0 5px;
}

.select-container {
    padding:5px;
    text-align: center;
}

.select-container > select {
    width: 155px;
}

.inline-style {
    width: 38%;
    display: inline-block;
}

.street-address {
    margin-bottom:5px;
}

.zipcode {
    width: 20%;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/*Issue page styles*/

.leading-issue-section {
    margin-bottom: 9px;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Script Modal styles */

.phone-group {
    list-style: none;
    background: #d9edf7;
    padding: 10px 0 10px 10px;
     text-align: center;
    font-weight: 600;
    font-size: 115%;
    border-radius: 5px;
}

.phone-group li {
    display: inline-block;
    margin-right: 5%;
}

/* Footer Styles */

footer {
    margin: 20px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}